* {
   font-family: ‘Sedgwick Ave’, cursive;
   font-size: scale fill;
}
html { 
background: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/7678525/Super_Mario_Run_header.0.jpeg (113kB)) no-repeat center center fixed;
 -webkit-background-size: cover;
     -moz-background-size: cover;
         -o-background-size: cover;
                 background-size: cover;
}

body {
  
}


#site {
   position: absolute;
   bottom: 0px;
   right: 0px;
}

#email {
   position: absolute;
   bottom: 0px;
   right: 42%
}

#contact {
   position: absolute;
   bottom: 0px;
}

#email, #contact, #site {
   font-size: 22px;
   margin: 50px
}

header {
   color: white;
   font-size: 40px;
   text-align: center;
   text-decoration: dotted underline;
}

#cheep-cheep {
  position: absolute;
   left: 250px;
}

#bob-omb {
   position: absolute;
   top: 200px;
   
}

#goomba {
   position: absolute;
   
}

#goomba, #bob-omb, #cheep-cheep {
   font-size: 12px;
   
}

#thanks {
   position: absolute;
   right: 50px;
   bottom: 100px;
   text-decoration: underline;
   font-size: 24px
}

#total {
   position: absolute;
   right: 200px
}
#yeah {
   position: absolute;
   right: 150px;
   top: 90px;   
}


#button {
   position: absolute;
   right: 135px;
   top: 140px;
}